
#logB {
    -fx-background-color: #053C5E;
    -fx-text-fill: white;
    -fx-font-size : 15;
    -fx-font-family : "OCR A Extended";
    -fx-border-color: #053C5E;
    -fx-border-radius: 4;
 
}

#logB:hover {
	-fx-background-color: transparent;
	-fx-text-fill: #053C5E;     
}

.table-view {
	-fx-border-color: transparent;
	-fx-background-color: transparent; /* OR  -fx-background-insets: 0.0; */
}

.table-view .corner {
	-fx-background-color: transparent;
}
.table-view .column-header {
	-fx-background-color: #F9F9FB;
	-fx-border-color: #d1d1d1;
}
.table-view .column-header .label{
	-fx-font-weight: bold; 
	-fx-alignment: center-left;
}
/* This is just magic */
.table-row-cell:filled {
	-fx-background-color: transparent;
	-fx-border-color: transparent #F9F9FB #F9F9FB #F9F9FB, transparent;
	-fx-border-insets: 0, 1;
}
.table-row-cell:empty {
	-fx-background-color: transparent;
}
.table-row-cell:filled:hover {
	-fx-background-color: #F9F9FB;
}
.table-row-cell:filled:selected:hover {
	-fx-background-color: #F9F9FB;
}
.table-row-cell:filled:selected {
  	-fx-background-color: #eaeaea;
 	-fx-background-insets: 0.0;
	-fx-background-radius: 0.0;
}
.table-row-cell:filled:selected .table-cell {
	-fx-text-fill: black;
}
.table-view .cell:filled{
	-fx-cell-size: 30;
	-fx-alignment: center-left;
}
.check-box-table-cell > .check-box:selected .box .mark {
	-fx-background-color: white;
}
.check-box-table-cell > .check-box:selected .box{
	-fx-background-color: #B6FF00;
}
.table-view .placeholder .label {
	-fx-text-fill: red;
	-fx-padding:20px;
}